:root {
    --toslide-red: #EE3D36; 
    --toslide-blue: #4535f3;
    --toslide-gray: #DADCE0;
    --toslide-background-gray:#F4F5F6;
    --toslide-font-gray: #ADAFB3; 
    --square-radius: 5px;
    --roundbox-radius: 13px;
    --pill-radius: 50rem;
    --box-shadow: 0px 0px 8px #0000001a;
}
body {
    all:unset;
    background-color:white;
}
button {
    all: unset;
}
header {
    background-color: var(--toslide-background-gray);
    border-bottom: 1px solid var(--toslide-gray);
}

/* Toslide basic components */
.font {
  font-family: 'Roboto', sans-serif !important;
}
.regular-12 {
  font-style: regular !important;
  font-size: 12px !important;
}
.medium-12 {
  font-style: medium !important;
  font-size: 12px !important;
}
.medium-14 {
  font-style: medium !important;
  font-size: 14px !important;
}
.medium-16 {
  font-style: medium !important;
  font-size: 16px !important;
}
.bold-16 {
  font-style: bold;
  font-size: 16px;
  text-align: center;
}

/* header */
.version {
  position: absolute;
  top: 30px;
  right: 20px;
  color: var(--toslide-font-gray);
  
}
.icon {
    width: 26px;
}
.logOut, .viewDetail {
    background: #f4f5f6 0% 0% no-repeat padding-box;
    border: 1px solid #dadce0;
    border-radius: var(--pill-radius);
}
.logOut:focus {
    outline: none;
}
.logOut:active {
    background-color:var(--toslide-font-gray);
}
.roundBox {
    height: 26px;
    max-width: 500px;
    padding: auto;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: var(--roundbox-radius);
    box-shadow: var(--box-shadow);
    align-items: center;
}

/* main */
/* remote buttons */
.remote-button img {
    padding: 0px;
    width: 100%;
    max-width: 254px;
}

.remote-button {
    display: inline-block;
    outline: none;
    border-radius: var(--square-radius);
    box-shadow: var(--box-shadow);
}
.remote-button:focus {
    all:unset;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: var(--square-radius);
  opacity: 0;
  transition: .5s ease;
  background: #4535F3 0% 0% no-repeat padding-box;
}
.remote-button:focus .overlay {
    opacity: 0.1;
}

/* badge */
.badge {
    padding: 0;
    z-index: 100;
}
.badge.badge-success {
  position: absolute; 
  background-color: var(--toslide-red);
  top: -10px;
  right: -10px;
  box-shadow: var(--box-shadow);
}

/* up ipad */
@media only screen and (min-width: 575px) {
}